{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{#{{ kint() }}#}
<div class="addition-info">
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mimetype</td>
        <td>{{ fields.filemime.content }}</td>
      </tr>
      <tr>
        <td>filesize</td>
        <td>{{ fields.filesize.content }}</td>
      </tr>
      <tr>
        <td>resource type</td>
        <td>{{ fields.module.content }} upload</td>
      </tr>
      <tr>
        <td>timestamp</td>
        <td>{{ fields.created.content }}</td>
      </tr>
    </tbody>
  </table>
{#{% for field in fields -%}#}
{#  {{ field.separator }}#}
{#  {%- if field.wrapper_element -%}#}
{#    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>#}
{#  {%- endif %}#}
{#  {%- if field.label -%}#}
{#    {%- if field.label_element -%}#}
{#      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>#}
{#    {%- else -%}#}
{#      {{ field.label }}{{ field.label_suffix }}#}
{#    {%- endif %}#}
{#  {%- endif %}#}
{#  {%- if field.element_type -%}#}
{#    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>#}
{#  {%- else -%}#}
{#    {{ field.content }}#}
{#  {%- endif %}#}
{#  {%- if field.wrapper_element -%}#}
{#    </{{ field.wrapper_element }}>#}
{#  {%- endif %}#}
{#{%- endfor %}#}
</div>
